<style>
  .table-responsive {
    min-height: 600px;
  }
</style>
<span class="h4 text-secondary float-right"><%- accounts.length %> of <%- count %></span>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th></th>
        <th>User</th>
        <th>Hits</th>
        <th>
          <a href="/<%- resource %>?size=<%-size%>&offset=<%-offset%>&sort=<%- date.field %>&asc=<%- !asc%>"><%- date.display %></a>
        </th>
        <th>
          <a href="/<%- resource %>?size=<%-size%>&offset=<%-offset%>&sort=followers_count&asc=<%- !asc%>">Followers</a>
        </th>
        <th>
          <a href="/<%- resource %>?size=<%-size%>&offset=<%-offset%>&sort=friends_count&asc=<%- !asc%>">Friends</a>
        </th>
        <th>
          <a href="/<%- resource %>?size=<%-size%>&offset=<%-offset%>&sort=statuses_count&asc=<%- !asc%>">Statuses</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% accounts.forEach(account => { %>
        <tr>
          <td>
            <img src="<%- account.profile_image_url_https%>" class="rounded-circle"/>
            <% if(account.cleared_on) { %>
              <span class="badge badge-danger badge-pill">&nbsp;</span>
            <% } else if( account.activated_on ) { %>
              <span class="badge badge-success badge-pill">&nbsp;</span>
            <% } %>
          </td>
          <td>
            <span class="d-block font-weight-bold"><%- account.name %></span>
            <a href="https://twitter.com/<%- account.screen_name %>" target="_blank" class="text-secondary">
              @<%- account.screen_name %>
            </a>
          </td>
          <td><%- account[events].length %></td>
          <td><%- utils.moment(account[date.field]).utcOffset("-06:00").format('h:mm:ss a, MMMM Do') %></td>
          <td>
            <span class="<%- utils.bg(account.followers_count) %>"><%- account.followers_count %></span>
          </td>
          <td>
            <span class="<%- utils.bg(account.friends_count) %>"><%- account.friends_count %></span>
          </td>
          <td>
            <span class="<%- utils.bg(account.statuses_count) %>"><%- account.statuses_count %></span>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<nav aria-label="...">
  <ul class="pagination">
    <% if(offset - size < 0) { %>
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    <% } else { %>
      <li class="page-item">
        <a class="page-link" href="/<%- resource %>?size=<%-size%>&offset=<%-offset - size%>&sort=<%-sortBy%>&asc=<%- asc%>">Previous</a>
      </li>
    <% } %>
    <% for(page = offset/size; page < Math.ceil(count / size) && page < (offset/size) + 10; page ++ ) { %>
      <% if(offset === page * size) { %>
        <li class="page-item active">
      <% } else { %>
        <li class="page-item">
      <% } %>
        <a class="page-link" href="/<%- resource %>?size=<%-size%>&offset=<%-page * size %>&sort=<%-sortBy%>&asc=<%- asc%>"><%- page + 1 %></a>
      </li>
    <% } %>
    <% if(offset + size > count) { %>
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    <% } else { %>
      <li class="page-item">
        <a class="page-link" href="/<%- resource %>?size=<%-size%>&offset=<%-offset + size%>&sort=<%-sortBy%>&asc=<%- asc%>">Next</a>
      </li>
    <% } %>
  </ul>
</nav>
