<style>
  .table-responsive {
    min-height: 600px;
  }
</style>
<span class="h4 text-secondary float-right"><%- accounts.length %> of <%- count %></span>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th></th>
        <th>User</th>
        <th>Hits</th>
        <th>Activity</th>
        <th>
          <a href="/<%- resource %>?size=<%-size%>&offset=<%-offset%>&sort=<%- date.field %>&asc=<%- !asc%>"><%- date.display %></a>
        </th>
        <th>
          <a href="/<%- resource %>?size=<%-size%>&offset=<%-offset%>&sort=followers_count&asc=<%- !asc%>">Followers</a>
        </th>
        <th>
          <a href="/<%- resource %>?size=<%-size%>&offset=<%-offset%>&sort=friends_count&asc=<%- !asc%>">Friends</a>
        </th>
        <th>
          <a href="/<%- resource %>?size=<%-size%>&offset=<%-offset%>&sort=statuses_count&asc=<%- !asc%>">Statuses</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% accounts.forEach(account => { %>
        <tr>
          <td>
            <img src="<%- account.profile_image_url_https%>" class="rounded-circle"/>
            <% if(account.cleared_on) { %>
              <span class="badge badge-danger badge-pill">&nbsp;</span>
            <% } else if( account.activated_on ) { %>
              <span class="badge badge-success badge-pill">&nbsp;</span>
            <% } %>
          </td>
          <td>
            <span class="d-block pt-2 font-weight-bold"><%- account.name.length > 20 ? account.name.substring(0,20) + '...' : account.name %></span>
            <a href="https://twitter.com/<%- account.screen_name %>" target="_blank" class="d-block text-secondary">
              @<%- account.screen_name %>
            </a>
            <span class="d-block font-italic font-weight-light" style="font-size: .8rem"><%- utils.moment(account.created_at).format("MMM 'YY") %></span>
          </td>
          <td class="align-middle text-center"><%- account[events].length %></td>
          <td class="align-middle text-center"><%- account.activity ? account.activity : '?'  %></td>
          <td class="align-middle text-center"><%- utils.moment(account[date.field]).utcOffset("-05:00").format('h:mm:ss a, MMMM Do') %></td>
          <td class="align-middle text-center">
            <span class="<%- utils.bg(account.followers_count) %>"><%- utils.money(account.followers_count) %></span>
          </td>
          <td class="align-middle text-center">
            <span class="<%- utils.bg(account.friends_count) %>"><%- utils.money(account.friends_count) %></span>
          </td>
          <td class="align-middle text-center">
            <span class="d-flex mb-2" style="font-size: 10px;">
              <span class="badge badge-success <%- account.stats.tw === 0 ? 'd-none' : '' %>" style="width:<%- account.stats.tw%>%;" data-toggle="tooltip" data-placement="top" title="TW:<%- account.stats.tw%>%">&nbsp;</span>
              <span class="badge badge-info  <%- account.stats.rp === 0 ? 'd-none' : '' %>" style="width:<%- account.stats.rp%>%;" data-toggle="tooltip" data-placement="top" title="RP:<%- account.stats.rp%>%">&nbsp;</span>
              <span class="badge badge-warning  <%- account.stats.qt === 0 ? 'd-none' : '' %>" style="width:<%- account.stats.qt%>%;" data-toggle="tooltip" data-placement="top" title="QT:<%- account.stats.qt%>%">&nbsp;</span>
              <span class="badge badge-danger  <%- account.stats.rt === 0 ? 'd-none' : '' %>" style="width:<%- account.stats.rt%>%;" data-toggle="tooltip" data-placement="top" title="RT:<%- account.stats.rt%>%">&nbsp;</span>
            </span>
            <span style="font-size: 75%"><%- utils.money(account.statuses_count) %></span>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<nav aria-label="...">
  <ul class="pagination">
    <% if(offset - size < 0) { %>
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    <% } else { %>
      <li class="page-item">
        <a class="page-link" href="/<%- resource %>?size=<%-size%>&offset=<%-offset - size%>&sort=<%-sortBy%>&asc=<%- asc%>&rt=<%- rt%>&min_followers_count=<%- filter.min_followers_count%>&max_followers_count=<%- filter.max_followers_count%>&delay=<%- delay %>">Previous</a>
      </li>
    <% } %>
    <% for(page = offset/size; page < Math.ceil(count / size) && page < (offset/size) + 10; page ++ ) { %>
      <% if(offset === page * size) { %>
        <li class="page-item active">
      <% } else { %>
        <li class="page-item">
      <% } %>
        <a class="page-link" href="/<%- resource %>?size=<%-size%>&offset=<%-page * size %>&sort=<%-sortBy%>&asc=<%- asc%>&rt=<%- rt%>&min_followers_count=<%- filter.min_followers_count%>&max_followers_count=<%- filter.max_followers_count%>&delay=<%- delay %>"><%- page + 1 %></a>
      </li>
    <% } %>
    <% if(offset + size > count) { %>
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    <% } else { %>
      <li class="page-item">
        <a class="page-link" href="/<%- resource %>?size=<%-size%>&offset=<%-offset + size%>&sort=<%-sortBy%>&asc=<%- asc%>&rt=<%- rt%>&min_followers_count=<%- filter.min_followers_count%>&max_followers_count=<%- filter.max_followers_count%>&delay=<%- delay %>">Next</a>
      </li>
    <% } %>
  </ul>
</nav>
